body {
  background-color: #F1F1EF;
}

* + * {
  margin-top: 1.5em;
}

.tasks-enter {
  transition: all 0.5s;
  transform: translateX(-120%);
  max-height: 0;
  padding: 0 !important;
  border-bottom: none;
}

.tasks-enter-active {
  max-height: 60px;
  padding: 2rem 0 !important;
  transform: translateX(0);
}

.tasks-leave {
  transition: all 0.5s;
  transform: translateX(0%);
  border-bottom: none;
}

.tasks-leave-active {
  max-height: 0px;
  padding: 0rem;
  transform: translateX(-120%);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.noPointer {
  cursor: default;
}
